<div class="container border my-5 px-3 py-4">
  <!-- {{ loginForm.value | json }}
    <hr /> -->
  <h1>Sign Up</h1>
  <form [formGroup]="userInfo">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        required
        class="form-control"
        formControlName="email"
        name="email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        required
        class="form-control"
        formControlName="password"
        name="password"
      />
    </div>
    <button class="btn btn-primary" (click)="createUser()">Sign Up</button>
  </form>
</div>
